table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }

  #navBar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #7b4731;
    box-shadow: 10px 10px 10px rgb(44, 4, 4);
  }

  #navBar a {
    display: block;
    color: #fdf9f9;
    text-decoration: underline;
    border-radius: 80px;
  }

  #navBar a:hover {
    color: #000;
    background: #5c3222;
    text-decoration: none;
  }

  #navBar a.selected {
    color: #000;
    background: #570909;
    text-decoration: none;
  }